﻿@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html class="no-js">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Equalizer</title>

    <!-- Opens Sans Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

    <!-- Bootstrap styles -->
    <link href="/Content/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <link href="/Content/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">

    <!-- Lightbox styles -->
    <link href="/Content/lightbox/css/lightbox.min.css" media="screen" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="/Content/styles.min.css" media="screen" rel="stylesheet" type="text/css">

    <!-- Modernizr -->
    <script type="text/javascript" src="/Scripts/modernizr.custom.min.js"></script>

    <script type="text/javascript">

        //checking media queries browsers support
        Modernizr.load({
            test: Modernizr.mq('only all'),
            nope: 'Scripts/respond.min.js'
        });

    </script>

</head>

<body data-spy="scroll" data-target="#main-menu">
    <div class="preloader">
        <div class="loader">
            <div class="bar bar-1 bg-red"></div>
            <div class="bar bar-2 bg-orange"></div>
            <div class="bar bar-3 bg-yellow"></div>
            <div class="bar bar-4 bg-green"></div>
            <div class="bar bar-5 bg-green-2"></div>
            <div class="text">Loading</div>
        </div>
    </div> 
    <div class="container">
        <div class="header-top">
            <div class="row">
                <div class="col-xs-5">
                    <ul class="list-inline social-links">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="#"><i class="fa fa-skype"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                        <li class="hidden-xxs">
                            <a href="#"><i class="fa fa-linkedin"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                        <li class="hidden-xxs">
                            <a href="#"><i class="fa fa-google-plus"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube-play"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="#"><i class="fa fa-flickr"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="#"><i class="fa fa-pinterest"></i><span class="equalizer-bar bg-red"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-7">
                    <div class="header-top-dropdown">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="text"><i class="fa fa-search"></i> Search</span>
                                <span class="equalizer-bar bg-red"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <form class="search-box" action="#">
                                        <div class="form-group has-feedback no-margin">
                                            <input type="text" name="search" class="form-control" placeholder="Search">
                                            <i class="fa fa-search form-control-feedback"></i>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="text"><i class="fa fa-user"></i> Login</span>
                                <span class="equalizer-bar bg-red"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <form class="login-form" action="#">
                                        <div class="form-group has-feedback">
                                            <input type="text" name="username" class="form-control" placeholder="Username">
                                            <i class="fa fa-user form-control-feedback"></i>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input type="password" name="username" class="form-control" placeholder="Password">
                                            <i class="fa fa-lock form-control-feedback"></i>
                                        </div>
                                        <button type="submit" class="btn standard-hover-effect bg-red btn-block">
                                            <span class="text">Log In <i class="fa fa-arrow-right"></i></span>
                                        </button>
                                        <h3 class="text-center">or</h3>
                                        <button type="submit" class="btn standard-hover-effect bg-red btn-block">
                                            <span class="text">Sign Up <i class="fa fa-arrow-right"></i></span>
                                        </button>
                                        <p class="text-center"><a href="#">Forgot your password?</a></p>
                                        <h3 class="text-center margin-bottom-20">Sign in with your social account</h3>
                                        <ul class="list-inline text-center">
                                            <li>
                                                <a href="#"><span class="icon-circle"><i class="fa fa-facebook"></i></span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span class="icon-circle"><i class="fa fa-twitter"></i></span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span class="icon-circle"><i class="fa fa-google-plus"></i></span></a>
                                            </li>
                                        </ul>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="index.html"><img src="Content/img/logo.png" alt="Equalizer"> Equalizer</a>
                    </div>
                </div>
                <div class="slogan hidden-xs"><i class="fa fa-quote-left"></i>What Would The World Be Like Without Music?</div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="index.html">
                                <span class="text">Start</span>
                                <span class="equalizer-bar bg-blue"></span>
                            </a>
                        </li>
                        <li>
                            <a href="info.html">
                                <span class="text">Info</span>
                                <span class="equalizer-bar bg-violet"></span>
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html">
                                <span class="text">Gallery</span>
                                <span class="equalizer-bar bg-violet-2"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="text">News <b class="caret"></b></span>
                                <span class="equalizer-bar bg-pink"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="news-list.html">
                                        <span class="text">News list</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="news-item.html">
                                        <span class="text">News item</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="text">Events <b class="caret"></b></span>
                                <span class="equalizer-bar bg-red-2"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="events-list.html">
                                        <span class="text">Events list</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="event-item.html">
                                        <span class="text">Event item</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="text">Blog <b class="caret"></b></span>
                                <span class="equalizer-bar bg-red"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="blog-list.html">
                                        <span class="text">Blog list</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-item.html">
                                        <span class="text">Blog item</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="tickets.html">
                                <span class="text">Tickets</span>
                                <span class="equalizer-bar bg-orange"></span>
                            </a>
                        </li>
                        <li>
                            <a href="timeline.html">
                                <span class="text">Timeline</span>
                                <span class="equalizer-bar bg-yellow"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="text">Pages <b class="caret"></b></span>
                                <span class="equalizer-bar bg-green"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="page-404.html">
                                        <span class="text">Page 404</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="typography.html">
                                        <span class="text">Typography</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="features.html">
                                        <span class="text">Features</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="faq.html">
                                        <span class="text">FAQ</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="sign-in-up.html">
                                <span class="text">Sign In/Up</span>
                                <span class="equalizer-bar bg-green-2"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side-menu-tab">
            <a class="expand" href="#">
                <i class="fa fa-gear"></i>
            </a>
            <div class="side-menu-tab-content">
                <h3 class="side-menu-header">Style switcher</h3>
                <h4>Box transparency</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <a class="btn standard-hover-effect bg-red btn-block change-opacity" href="#" data-opacity="low">
                            <span class="text">Low</span>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn standard-hover-effect bg-red btn-block change-opacity active" href="#" data-opacity="high">
                            <span class="text">High</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="standard-box no-border" id="slider">
                    <div id="carousel-main" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-main" data-slide-to="1"></li>
                            <li data-target="#carousel-main" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="Content/img/photos/concert-1.jpg" alt="slide-1">
                                <div class="carousel-caption">
                                    <div class="main-icon">
                                        <div class="hex-shape">
                                            <i class="fa fa-code"></i>
                                        </div>
                                    </div>
                                    <h1 class="carousel-heading">Equalizer template</h1>
                                    <p>Ideal template for music, film and any other culture area site. Smart and compact. It's able to completely meet your needs.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="Content/img/photos/concert-2.jpg" alt="slide-2">
                                <div class="carousel-caption">
                                    <div class="main-icon">
                                        <div class="hex-shape">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </div>
                                    <h1 class="carousel-heading">Twitter Bootstrap 3</h1>
                                    <p>Based on the one of the greatest HTML framework. This provides a standardized and simple scalability of your website.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/Content/img/photos/concert-3.jpg" alt="slide-3">
                                <div class="carousel-caption">
                                    <div class="main-icon">
                                        <div class="main-icon">
                                            <div class="hex-shape">
                                                <i class="fa fa-mobile"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="carousel-heading">Responsive Web Design</h1>
                                    <p>Scales and adapts to any resolution and any kind of mobile device.You can give users access to your site from any kind of device.</p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-main" data-slide="prev">
                            <i class="fa fa-long-arrow-left"></i>
                        </a>
                        <a class="right carousel-control" href="#carousel-main" data-slide="next">
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="standard-box">
                    <h2 class="standard-header">
                        <span class="text">News</span>
                    </h2>
                    <div class="standard-article-item news">
                        <div class="row">
                            <div class="col-sm-4">
                                <a class="standard-article-image" href="news-item.html">
                                    <span class="standard-article-date date-full">
                                        <span class="day"><span>14</span></span>
                                        <span class="month">mar</span>
                                        <span class="year">2015</span>
                                    </span>
                                    <span class="standard-author"><i class="fa fa-user"></i> <strong>kwarc</strong></span>
                                    <img class="img-responsive" src="Content/img/photos/concert-5-blog.jpg" alt="photo by Martin Fisch">
                                    <span class="rating">
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="standard-article-header"><a href="news-item.html">My first heavy metal band concert</a></h3>
                                <div class="list-toolbar">
                                    <a href="news-item.html#comments-list"><i class="fa fa-comments"></i> 1 comment</a>
                                    <i class="fa fa-tags"></i> <a href="#">rock</a>, <a href="#">progressive</a>, <a href="#">concert</a>, <a href="#">stage</a>, <a href="#">live</a>, <a href="#">heavy metal</a>, <a href="#">stage</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie. Praesent at gravida eros. Proin pulvinar nisi..Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie...</p>
                                <a class="btn standard-hover-effect bg-red" href="news-item.html">
                                    <span class="text">More</span>
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="standard-article-item news">
                        <div class="row">
                            <div class="col-sm-4">
                                <a class="standard-article-image" href="news-item.html">
                                    <span class="standard-article-date date-full">
                                        <span class="day"><span>10</span></span>
                                        <span class="month">mar</span>
                                        <span class="year">2015</span>
                                    </span>
                                    <span class="standard-author"><i class="fa fa-user"></i> <strong>monika</strong></span>
                                    <img class="img-responsive" src="Content/img/photos/concert-2-blog.jpg" alt="photo by piermario">
                                    <span class="rating">
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="standard-article-header"><a href="news-item.html">My first heavy metal band concert is very nice dude</a></h3>
                                <div class="list-toolbar">
                                    <a href="news-item.html#comments-list"><i class="fa fa-comments"></i> 2 comments</a>
                                    <i class="fa fa-tags"></i> <a href="#">rock</a>, <a href="#">progressive</a>, <a href="#">concert</a>, <a href="#">stage</a>, <a href="#">live</a>, <a href="#">heavy metal</a>, <a href="#">stage</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie. Praesent at gravida eros. Proin pulvinar nisi..Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie...</p>
                                <a class="btn standard-hover-effect bg-red" href="news-item.html">
                                    <span class="text">More</span>
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="standard-article-item news">
                        <div class="row">
                            <div class="col-sm-4">
                                <a class="standard-article-image" href="news-item.html">
                                    <span class="standard-article-date date-full">
                                        <span class="day"><span>21</span></span>
                                        <span class="month">feb</span>
                                        <span class="year">2013</span>
                                    </span>
                                    <span class="standard-author"><i class="fa fa-user"></i> <strong>kwarc</strong></span>
                                    <img class="img-responsive" src="Content/img/photos/concert-3-blog.jpg" alt="photo by deep_schismic">
                                    <span class="rating">
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="standard-article-header"><a href="news-item.html">New album from Steven Wilson</a></h3>
                                <div class="list-toolbar">
                                    <a href="news-item.html#comments-list"><i class="fa fa-comments"></i> 3 comments</a>
                                    <i class="fa fa-tags"></i> <a href="#">rock</a>, <a href="#">progressive</a>, <a href="#">steven wilson</a>, <a href="#">porcupine tree</a>, <a href="#">hand cannot erase</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie. Praesent at gravida eros. Proin pulvinar nisi..Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie...</p>
                                <a class="btn standard-hover-effect bg-red" href="news-item.html">
                                    <span class="text">More</span>
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="standard-article-item news">
                        <div class="row">
                            <div class="col-sm-4">
                                <a class="standard-article-image" href="news-item.html">
                                    <span class="standard-article-date date-full">
                                        <span class="day"><span>21</span></span>
                                        <span class="month">feb</span>
                                        <span class="year">2013</span>
                                    </span>
                                    <span class="standard-author"><i class="fa fa-user"></i> <strong>kwarc</strong></span>
                                    <img class="img-responsive" src="Content/img/photos/concert-6-blog.jpg" alt="photo by Martin Fisch">
                                    <span class="rating">
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star positive">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                        <span class="star negative">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="standard-article-header"><a href="news-item.html">My first heavy metal band concert is very nice dude</a></h3>
                                <div class="list-toolbar">
                                    <a href="news-item.html#comments-list"><i class="fa fa-comments"></i> 7 comments</a>
                                    <i class="fa fa-tags"></i> <a href="#">rock</a>, <a href="#">concert</a>, <a href="#">stage</a>, <a href="#">live</a>, <a href="#">heavy metal</a>, <a href="#">stage</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie. Praesent at gravida eros. Proin pulvinar nisi..Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar nisi sit amet suscipit molestie...</p>
                                <a class="btn standard-hover-effect bg-red" href="news-item.html">
                                    <span class="text">More</span>
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <hr class="no-border">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="#"><small>&laquo;</small> First</a></li>
                            <li class="disabled"><a href="#"><small>&laquo;</small> Previous</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next <small>&raquo;</small></a></li>
                            <li><a href="#">Last <small>&raquo;</small></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="standard-box">
                            <h2 class="standard-header">
                                <span class="text">Latest comments</span>
                            </h2>
                            <div class="standard-article-item smaller">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <h3 class="standard-article-header"><a href="blog-item.html">History of progressive rock</a></h3>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge pull-right">6</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="standard-article-item smaller">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <h3 class="standard-article-header"><a href="blog-item.html">Nostalgia Factory - best bands from '70</a></h3>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge pull-right">42</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="standard-article-item smaller">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <h3 class="standard-article-header"><a href="blog-item.html">Cover story</a></h3>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge pull-right">3</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="standard-article-item smaller">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <h3 class="standard-article-header"><a href="blog-item.html">Complete guide throught the space rock</a></h3>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge pull-right">24</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="standard-article-item smaller">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <h3 class="standard-article-header"><a href="blog-item.html">Radiohead - what's next?</a></h3>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="badge pull-right">24</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="standard-box">
                            <h2 class="standard-header">
                                <span class="text">Video</span>
                            </h2>
                            <iframe style="border:0 none; width:100%;" height="262" src="//www.youtube.com/embed/mENmbZ5Ikto" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="standard-box">
                            <h2 class="standard-header">
                                <span class="text">Top list</span>
                            </h2>
                            <div class="standard-article-item top-list-item">
                                <h3 class="standard-article-header"><a href="blog-item.html">1. Anathema - Deep</a></h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class="text">863 votes</span>
                                    </div>
                                </div>
                                <p class="color-green"><small><i class="fa fa-arrow-up"></i> 5 position</small></p>
                            </div>
                            <div class="standard-article-item top-list-item">
                                <h3 class="standard-article-header"><a href="blog-item.html">2. Katatonia - Ghost Of The Sun</a></h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 94%">
                                        <span class="text">833 votes</span>
                                    </div>
                                </div>
                                <p class="color-red"><small><i class="fa fa-arrow-down"></i> 1 position</small></p>
                            </div>
                            <div class="standard-article-item top-list-item">
                                <h3 class="standard-article-header"><a href="blog-item.html">3. Marillion - Neverland</a></h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                        <span class="text">799 votes</span>
                                    </div>
                                </div>
                                <p class="color-green"><small><i class="fa fa-arrow-up"></i> 3 position</small></p>
                            </div>
                            <div class="standard-article-item top-list-item">
                                <h3 class="standard-article-header"><a href="blog-item.html">4. Pain Of Salvation - The Used</a></h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%">
                                        <span class="text">740 votes</span>
                                    </div>
                                </div>
                                <p class="color-green"><small><i class="fa fa-arrow-up"></i> 8 position</small></p>
                            </div>
                            <div class="standard-article-item top-list-item">
                                <h3 class="standard-article-header"><a href="blog-item.html">5. Opeth - Windowpane</a></h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%">
                                        <span class="text">689 votes</span>
                                    </div>
                                </div>
                                <p class="color-red"><small><i class="fa fa-arrow-down"></i> 4 position</small></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <a class="btn standard-hover-effect bg-red btn-block" href="#">
                                        <span class="text">More <i class="fa fa-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="standard-box">
                            <h2 class="standard-header">
                                <span class="text">Events</span>
                            </h2>
                            <div class="standard-article-item event">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a class="standard-article-image" href="event-item.html">
                                            <span class="event-status bg-red"></span>
                                            <img class="img-responsive" src="Content/img/photos/concert-4-L.jpg" alt="photo by Venttu">
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <h3 class="standard-article-header"><a href="event-item.html">Opeth</a></h3>
                                        <p><i class="fa fa-calendar"></i> Feb 16 <i class="fa fa-clock-o"></i> 20:00</p>
                                        <p><i class="fa fa-bank"></i> Warsaw, Progresja Club</p>
                                        <p class="no-margin"><a href="event-item.html">Read more &raquo;</a></p>
                                    </div>
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="standard-article-item event">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a class="standard-article-image" href="event-item.html">
                                            <span class="event-status bg-red"></span>
                                            <img class="img-responsive" src="Content/img/photos/concert-1-L.jpg" alt="photo by Martin Fisch">
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <h3 class="standard-article-header"><a href="event-item.html">Porcupine Tree <span class="label label-danger">Sold</span></a></h3>
                                        <p><i class="fa fa-calendar"></i> Feb 28 <i class="fa fa-clock-o"></i> 20:00</p>
                                        <p><i class="fa fa-bank"></i> Cracow, Klub Studio</p>
                                        <p class="no-margin"><a href="event-item.html">Read more &raquo;</a></p>
                                    </div>
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="standard-article-item event">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a class="standard-article-image" href="event-item.html">
                                            <span class="event-status bg-yellow"></span>
                                            <img class="img-responsive" src="Content/img/photos/concert-6-L.jpg" alt="photo by Martin Fisch">
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <h3 class="standard-article-header"><a href="event-item.html">Pain Of Salvation</a></h3>
                                        <p><i class="fa fa-calendar"></i> Mar 10 <i class="fa fa-clock-o"></i> 20:00</p>
                                        <p><i class="fa fa-bank"></i> Cracow, Klub Kwadrat</p>
                                        <p class="no-margin"><a href="event-item.html">Read more &raquo;</a></p>
                                    </div>
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="standard-article-item event">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a class="standard-article-image" href="event-item.html">
                                            <span class="event-status bg-green-2"></span>
                                            <img class="img-responsive" src="Content/img/photos/concert-8-L.jpg" alt="photo by Justin M. Martinez">
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <h3 class="standard-article-header"><a href="event-item.html">Sting &amp; Paul Simon</a></h3>
                                        <p><i class="fa fa-calendar"></i> Mar 27 <i class="fa fa-clock-o"></i> 20:00</p>
                                        <p><i class="fa fa-bank"></i> Cracow, Klub Kwadrat</p>
                                        <p class="no-margin"><a href="event-item.html">Read more &raquo;</a></p>
                                    </div>
                                    <div class="col-xs-12">
                                        <hr class="no-border">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <a class="btn standard-hover-effect bg-red btn-block" href="events-list.html">
                                        <span class="text">More <i class="fa fa-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="standard-box">
                    <h2 class="standard-header">
                        <span class="text">Reviews</span>
                    </h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="standard-article-item album">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-4">
                                        <a class="standard-article-image" href="news-item.html">
                                            <img class="img-responsive" src="Content/img/covers/hunter-L.jpg" alt="The Hunter">
                                            <div class="additional-info-box">
                                                <div class="additional-info-box-content">
                                                    <i class="fa fa-eye"></i>
                                                    <p>Read more...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-8">
                                        <h3 class="standard-article-header"><a href="news-item.html">Mastodon - The Hunter</a></h3>
                                        <span class="rating">
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star negative">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                        </span>
                                        <p><i class="fa fa-headphones"></i> Alternative Metal</p>
                                        <p><i class="fa fa-calendar"></i> 2011</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 visible-xs">
                            <hr>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="standard-article-item album">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-4">
                                        <a class="standard-article-image" href="news-item.html">
                                            <img class="img-responsive" src="Content/img/covers/deadwing-L.jpg" alt="Deadwing">
                                            <div class="additional-info-box">
                                                <div class="additional-info-box-content">
                                                    <i class="fa fa-eye"></i>
                                                    <p>Read more...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-8">
                                        <h3 class="standard-article-header"><a href="news-item.html">Porcupine Tree - Deadwing</a></h3>
                                        <span class="rating">
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star negative">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star negative">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                        </span>
                                        <p><i class="fa fa-headphones"></i> Progressive Rock</p>
                                        <p><i class="fa fa-calendar"></i> 2005</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 visible-xs visible-sm">
                            <hr>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="standard-article-item album">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-4">
                                        <a class="standard-article-image" href="news-item.html">
                                            <img class="img-responsive" src="Content/img/covers/ok-computer-L.jpg" alt="Ok Computer">
                                            <div class="additional-info-box">
                                                <div class="additional-info-box-content">
                                                    <i class="fa fa-eye"></i>
                                                    <p>Read more...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-8">
                                        <h3 class="standard-article-header"><a href="news-item.html">Radiohead - Ok Computer</a></h3>
                                        <span class="rating">
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                        </span>
                                        <p><i class="fa fa-headphones"></i> Alternative Rock</p>
                                        <p><i class="fa fa-calendar"></i> 2005</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 visible-xs">
                            <hr>
                        </div>
                        <div class="col-md-4 col-sm-6 visible-sm visible-xs">
                            <div class="standard-article-item album">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-4">
                                        <a class="standard-article-image" href="news-item.html">
                                            <img class="img-responsive" src="Content/img/covers/controlling-crowds-L.jpg" alt="Controlling Crowds">
                                            <div class="additional-info-box">
                                                <div class="additional-info-box-content">
                                                    <i class="fa fa-eye"></i>
                                                    <p>Read more...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-8">
                                        <h3 class="standard-article-header"><a href="news-item.html">Archive - Controlling Crowds</a></h3>
                                        <span class="rating">
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star positive">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                            <span class="star negative">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>
                                        </span>
                                        <p><i class="fa fa-headphones"></i> Electronic</p>
                                        <p><i class="fa fa-calendar"></i> 2009</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                            <a class="margin-top-20 btn standard-hover-effect bg-red btn-block" href="news-list.html">
                                <span class="text">More <i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="standard-box">
                    <h2 class="standard-header">
                        <span class="text">Our Team</span>
                    </h2>
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="user-box">
                                <div class="avatar">
                                    <img class="img-responsive" src="Content/img/people/man-2.jpg" alt="Man">
                                    <div class="additional-info-box">
                                        <div class="additional-info-box-content">
                                            <i class="fa fa-envelope"></i>
                                            <p>peterhook@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">Peter Hook</h3>
                                <p class="subheading"><small>CEO and Founder</small></p>
                                <ul class="social-icons list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="user-box">
                                <div class="avatar">
                                    <img class="img-responsive" src="Content/img/people/man-1.jpg" alt="Man">
                                    <div class="additional-info-box">
                                        <div class="additional-info-box-content">
                                            <i class="fa fa-envelope"></i>
                                            <p>johndeacon@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">John Deacon</h3>
                                <p class="subheading"><small>Creative Director</small></p>
                                <ul class="social-icons list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="user-box margin-bottom-0-xs">
                                <div class="avatar">
                                    <img class="img-responsive" src="Content/img/people/man-3.jpg" alt="Man">
                                    <div class="additional-info-box">
                                        <div class="additional-info-box-content">
                                            <i class="fa fa-envelope"></i>
                                            <p>stevenwilson@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">Steven Wilson</h3>
                                <p class="subheading"><small>Sales Manager</small></p>
                                <ul class="social-icons list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="user-box margin-bottom-0-xs">
                                <div class="avatar">
                                    <img class="img-responsive" src="Content/img/people/woman-3.jpg" alt="Woman">
                                    <div class="additional-info-box">
                                        <div class="additional-info-box-content">
                                            <i class="fa fa-envelope"></i>
                                            <p>cristinaadams@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">Cristina Adams</h3>
                                <p class="subheading"><small>Sales Manager</small></p>
                                <ul class="social-icons list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="standard-box">
                    <h2 class="standard-header">
                        <span class="text">Song of the week</span>
                    </h2>
                    <iframe style="border:0 none; width:100%;" height="126" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/69791878&amp;color=fa5456&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>
                <div class="standard-box">
                    <h2 class="standard-header">
                        <span class="text">Tags</span>
                    </h2>
                    <ul class="list-inline tags-list">
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>progressive rock</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>metal</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>alternative</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>space Rock</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>fusion</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>jazz</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>ambient</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>electronic</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>dream pop</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>dark ambient</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>heavy metal</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>experimental</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>new wave</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>industrial</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>brit pop</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>trip hop</a></li>
                        <li><a class="tag" href="#"><i class="fa fa-tag"></i>hard rock</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="standard-box bottom-box margin-bottom-10">
                    <h2 class="standard-header">
                        <span class="text">Menu</span>
                    </h2>
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="list list-menu with-links">
                                <li>
                                    <a href="index.html">Start</a>
                                </li>
                                <li>
                                    <a href="info.html">Info</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="news-list.html">News list</a>
                                </li>
                                <li>
                                    <a href="news-item.html">News item</a>
                                </li>
                                <li>
                                    <a href="events-list.html">Events list</a>
                                </li>
                                <li>
                                    <a href="event-item.html">Event item</a>
                                </li>
                                <li>
                                    <a href="blog-list.html">Blog list</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list list-menu with-links">
                                <li>
                                    <a href="blog-item.html">Blog item</a>
                                </li>
                                <li>
                                    <a href="tickets.html">Tickets</a>
                                </li>
                                <li>
                                    <a href="timeline.html">Timeline</a>
                                </li>
                                <li>
                                    <a href="page-404.html">Page 404</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="features.html">Features</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="sign-in-up.html">Sign In/Up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="standard-box bottom-box">
                    <h2 class="standard-header">
                        <span class="text">Address</span>
                    </h2>
                    <div class="address-box">
                        <p class="logo"><img src="Content/img/logo.png" alt="Equalizer"> Equalizer</p>
                        <p><span class="glyphicon glyphicon-map-marker"></span> 1516 Woodstock Drive</p>
                        <p><span class="glyphicon glyphicon-map-marker"></span> Los Angeles, CA 90071</p>
                        <p><span class="glyphicon glyphicon-earphone"></span> 626-478-6373</p>
                        <p><span class="fa fa-fax pr-10"></span> 800 123 3456 </p>
                        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:mnbootstrap@gmail.com">mnbootstrap@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="standard-box bottom-box">
                    <h2 class="standard-header">
                        <span class="text">Contact Us</span>
                    </h2>
                    <form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post" action="#">
                        <div class="form-group has-feedback">
                            <div class="col-sm-12">
                                <input class="form-control" type="text" name="topic" id="topic" value="" placeholder="topic">
                                <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="message" id="message" placeholder="type your message here..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-6">
                                <button name="submit" class="btn standard-hover-effect bg-red btn-block">
                                    <span class="text">Send</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="standard-box bottom-box">
                <a class="scroll-up" id="toTop" href="#">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <p>&copy; 2014 <a href="http://portfolio-kwarc.pl">portfolio-kwarc.pl</a></p>
                <hr>
                <p class="no-margin clearfix"><a class="logo pull-right" href="index.html"><img src="Content/img/logo.png" alt="Equalizer"> Equalizer</a> <small>*Photos courtesy of and copyright Free Range Stock, <a href="http://www.freerangestock.com">www.freerangestock.com</a></small></p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript" src="Scripts/jquery.1.11.0.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>

    <!-- jQuery cookie -->
    <script type="text/javascript" src="Scripts/jquery.cookie.min.js"></script>

    <!-- jQuery scrollTo -->
    <script type="text/javascript" src="Scripts/jquery-scrollto-min.js"></script>

    <!-- Lightbox -->
    <script type="text/javascript" src="/Content/lightbox/js/lightbox.min.js"></script>

    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="Scripts/masonry.pkgd.min.js"></script>

    <!-- Shuffle -->
    <script type="text/javascript" src="Scripts/jquery.shuffle.modernizr.min.js"></script>

    <!-- Custom javascript -->
    <script type="text/javascript" src="/Scripts/custom.min.js"></script>

</body>
</html>