@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    color: #eee;
    font-family: 'bebas_neueregular';
    font-size: 13px;
}
body {
    overflow-x: hidden;
    background: url("../Content/img/background.jpg") repeat top center fixed;
}

/*preloader*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    overflow: visible;
    width: 100%;
    height: 100%;
    background: #080808;
}
.loader {
    overflow: hidden;
    width: 70px;
    height: 50px;
    margin: auto;
}
.preloader .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
}
.loader .text {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.loader .bar {
    position: relative;
    float: left;
    width: 10px;
    height: 30px;
    background: #fff;
    margin-top: 20px;
    margin-left: 5px;
}
.loader .bar {
    -webkit-animation: load 0.9s infinite ease-in-out;
            animation: load 0.9s infinite ease-in-out;
}
.loader .bar.bar-1 {
    margin-left: 0;
}
.loader .bar.bar-2 {
    -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s;
}
.loader .bar.bar-3 {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
}
.loader .bar.bar-4 {
    -webkit-animation-delay: -0.45s;
            animation-delay: -0.45s;
}
.loader .bar.bar-5 {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
}
@-webkit-keyframes load {
    0%,
    80%,
    100% {
        height: 30px;
        top: 0;
    }
    40% {
        top: -20px;
        height: 50px;
    }
}
@keyframes load {
    0%,
    80%,
    100% {
        height: 30px;
        top: 0;
    }
    40% {
        top: -20px;
        height: 50px;
    }
}

/*side-menu*/
.side-menu-tab {
    position: fixed;
    right: -200px;
    top: 82px;
    z-index: 1000;
    width: 250px;
    height: 50px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.side-menu-tab .expand {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: background 0.3s linear;
            transition: background 0.3s linear;
}
.low-opacity .side-menu-tab .expand {
    background: rgba(0,0,0,0.85);
}
.side-menu-tab-content {
    float: left;
    width: 200px;
    background: rgba(0,0,0,0.7);
    padding: 10px 20px 20px;
    -webkit-transition: background 0.3s linear;
            transition: background 0.3s linear;
}
.low-opacity .side-menu-tab-content {
    background: rgba(0,0,0,0.85);
}
.side-menu-tab.open {
    right: 0;
}
.side-menu-header {
    margin: 0 0 30px;
    line-height: 30px;
    text-align: center;
}

/*header-top*/
.header-top {
    background: rgba(0,0,0,0.7);
    padding: 2px 0;
    border: 0 none;
    border-radius: 0;
    -webkit-transition: background 0.3s linear;
            transition: background 0.3s linear;
}
.low-opacity .header-top {
    background: rgba(0,0,0,0.85);
}
.header-top-dropdown {
    float: right;
    font-size: 0;
    text-align: right;
}
.header-top .social-links {
    margin: 0;
}
.header-top .social-links li {
    padding: 0;
    margin-left: 2px;
}
.header-top .social-links li a {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    color: #999;
    line-height: 30px;
    text-align: center;
}
.header-top .social-links li a .fa {
    position: relative;
    z-index: 2;
}
.header-top .social-links li a:hover,
.header-top .social-links li a:focus {
    color: #fff;
}
.header-top .btn-group {
    margin: 0;
}
.header-top .btn.dropdown-toggle {
    background: transparent;
    padding: 0 15px;
    border: 0 none;
    color: #999;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 30px;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
.header-top .btn:hover,
.header-top .btn:focus {
    color: #fff;
}
.header-top-dropdown .btn-group {
    margin-right: 2px;
}
.header-top-dropdown .btn-group .text {
    position: relative;
    z-index: 2;
}
.header-top-dropdown .dropdown-menu {
    z-index: 103;
    min-width: 240px;
    padding: 10px;
    margin-top: 2px;
}
.header-top-dropdown .dropdown-menu .has-feedback .form-control-feedback {
    top: 0;
}
.header-top-dropdown .dropdown-menu .standard-hover-effect {
    margin-bottom: 15px;
}
.header-top-dropdown .dropdown-menu .standard-hover-effect.btn-lg .text {
    line-height: 42px;
}
.header-top-dropdown .dropdown-menu h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
.header-top-dropdown .icon-circle {
    padding: 10px;
}
.header-top-dropdown .icon-circle .fa,
.header-top-dropdown .icon-circle .glyphicon {
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
}
.header-top-dropdown .list-inline {
    margin-bottom: 15px;
}

/*main header*/
.navbar {
    background: rgba(255,255,255,0.7);
    padding: 2px;
    border: 0 none;
    border-radius: 0;
    margin-top: 48px;
    -webkit-transition: background 0.3s linear;
            transition: background 0.3s linear;
}
.low-opacity .navbar {
    background: rgba(0,0,0,0.85);
}
.navbar-inverse {
    background: rgba(0,0,0,0.7);
}
.navbar .social-links {
    position: absolute;
    top: -24px;
    right: 0;
    margin: 0;
}
.navbar .social-links li {
    padding-left: 4px;
    padding-right: 0;
}
.navbar .social-links li a {
    display: block;
    width: 21px;
    height: 21px;
    background: #FA5456;
    color: #eee;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    -webkit-transition: none;
            transition: none;
}
.navbar .slogan {
    position: absolute;
    top: -24px;
    left: 144px;
    padding-left: 24px;
    color: #333;
    font-size: 16px;
}
.navbar .slogan .fa {
    position: absolute;
    top: -1px;
    left: 0;
    font-size: 20px;
}
.navbar-brand {
    height: 44px;
    padding: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0);
    margin: 0px 5px 0px 0px;
    -webkit-transition: none;
            transition: none;
}
.navbar-brand a {
    display: block;
    position: relative;
    height: 56px;
    background: #FA5456;
    padding: 12px 24px 12px 12px;
    color: #eee;
    font-size: 22px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
            box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-transition: none;
            transition: none;
}
.navbar-brand a:after {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 0;
    height: 0;
    content: '';
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 13px solid #333;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
    color: #fff;
}
.navbar-brand a img {
    margin-right: 5px;
}
.navbar .navbar-brand a {
    top: -30px;
    left: -15px;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    padding-left: 0;
    padding-right: 0;
}
.navbar .navbar-toggle {
    height: 54px;
    background: #FA5456;
    margin: 0;
    border-radius: 0;
    border: 0 none;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background: #FA5456;
}
#main-menu > .navbar-nav {
    float: right;
    margin-right: -2px;
}
#main-menu > .navbar-nav > li {
    margin-right: 2px;
}
#main-menu > .navbar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-transition: none;
            transition: none;
}
#main-menu > .navbar-nav > li > a > .text {
    display: block;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
#main-menu > .navbar-nav > li > a:hover > .text {
    color: #eee;
}
#main-menu > .navbar-nav > li.active > a {
    background: transparent;
}
#main-menu .navbar-nav > .open > a,
#main-menu .navbar-nav > .open > a:hover,
#main-menu .navbar-nav > .open > a:focus {
    background-color: transparent;
}
.equalizer-bar {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    opacity: 0.8;
    width: 100%;
    height: 4px;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
:hover > .equalizer-bar {
    opacity: 0.8;
    height: 100%;
}
.caret {
    margin-right: -4px;
}
.dropdown-menu {
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 0;
    border: 0 none;
    border-radius: 0;
    -webkit-transition: background 0.3s linear;
            transition: background 0.3s linear;
}
.low-opacity .dropdown-menu {
    background: rgba(0,0,0,0.85);
}
.dropdown-menu > li > a {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    color: #999;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: transparent;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background: transparent;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
    margin-left: -2px;
}

/*logo*/
.logo {
    color: #fff;
    font-family: 'bebas_neueregular';
    font-size: 20px;
}
.logo:hover,
.logo:focus {
    color: #fff;
}

/*scroll up*/
.scroll-up {
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0.7);
    color: #FA5456;
    line-height: 30px;
    text-align: center;
}
.low-opacity .scroll-up {
    background: rgba(0,0,0,0.85);
}

/*footer*/
.footer {
    margin-top: 30px;
}
.footer p {
    margin-bottom: 0;
}
.footer .logo {
    margin-top: -6px;
}
.footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*standard-box*/
.standard-box {
    position: relative;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    margin-bottom: 20px;
    -webkit-transition: background 0.3s linear;
            transition: background 0.3s linear;
}
.low-opacity .standard-box {
    background: rgba(0,0,0,0.85);
}
.standard-header {
    display: block;
    position: relative;
    top: -10px;
    left: -25px;
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 18px;
}
.standard-header .text {
    display: inline-block;
    background: #FA5456;
    padding: 12px 24px;
    color: #eee;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
            box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.standard-header .text-yellow {
    background: #FBDE8A;
}
.standard-header .text-green {
    background: #B0D794;
}
.standard-header .text-orange {
    background: #EB9E68;
}
.standard-header .text-yellow,
.standard-header .text-green,
.standard-header .text-orange {
    color: #000;
}
.standard-header:after {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0;
    height: 0;
    content: '';
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid #111;
}

/*articles*/
.standard-article-header {
    margin: 0 0 10px;
    font-size: 20px;
    letter-spacing: 1px;
}
.standard-article-header a {
    color: #eee;
}
.standard-article-header a:hover {
    color: #FA5456;
}
.standard-article-header .label {
    position: relative;
    top: -4px;
    padding: 0px 4px 1px;
    margin-left: 2px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}
.list-toolbar {
    margin-left: 0;
    margin-bottom: 10px;
    color: #EB9E68;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.list-toolbar .fa {
    margin-right: 2px;
    color: #FA5456;
}
.standard-article-image {
    display: block;
    position: relative;
}
.standard-article-date {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 50px;
    background: rgba(0,0,0,0.8);
    padding: 8px 0;
    color: #eee;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
.standard-article-date span {
    display: block;
}
.standard-article-date span span {
    display: inline-block;
    padding: 0 4px;
    border-bottom: 2px solid #eee;
    margin-bottom: 2px;
}
.standard-article-date span.day {
    font-size: 26px;
    line-height: 26px;
}
.standard-article-date span.day-smaller {
    font-size: 18px;
    line-height: 26px;
}
.standard-article-date span.month {
    font-size: 16px;
    line-height: 16px;
}
.standard-article-date span.year {
    font-size: 18px;
    line-height: 18px;
}
.standard-author {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(0, 0, 0, 0.8);
    padding: 2px 5px;
    color: #eee;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
}
.standard-author strong {
    font-weight: 300;
    margin-left: 2px;
}
.rating {
    display: block;
    overflow: hidden;
    padding: 3px 0;
    line-height: 1px;
}
.rating .star {
    float: left;
    padding: 0 2px;
    color: #EB9E68;
    font-size: 16px;
    -webkit-text-shadow: 1px 1px 1px #000;
            text-shadow: 1px 1px 1px #000;
}
.rating .star.positive {
    color: #FA5456;
}
.rating .text {
    line-height: 14px;
    padding-left: 5px;
}
.standard-article-image .rating {
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 10;
}
.event-status {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 3px;
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
}
.event-status-lg {
    width: 6px;
}
:hover > .event-status{
    width: 100%;
    opacity: 0.25;
}
.item-heading {
    text-transform: uppercase;
    font-size: 23px;
    margin: 0;
    margin-bottom: 20px;
}
.item-heading .item-number {
    position: relative;
    vertical-align: middle;
    font-size: 15px;
    color: #FA5456;
    line-height: 1;
}

.standard-article-image .standard-article-date,
.standard-article-image .standard-author {
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
.standard-article-image .standard-article-date span span {
    -webkit-transition: 0.3s border-color linear;
            transition: 0.3s border-color linear;
}
.standard-article-image:hover .standard-article-date,
.standard-article-image:hover .standard-author {
    color: #FA5456;
}
.standard-article-image:hover .standard-article-date span span {
    border-color: #FA5456;
}
.standard-article-item.event p,
.standard-article-item.album p {
    margin: 0 0 5px 0;
}
.standard-article-item.event p .fa,
.standard-article-item.event p .glyphicon,
.standard-article-item.album p .fa,
.standard-article-item.album p .glyphicon {
    margin-right: 2px;
}
.standard-article-item.event .description {
    color: #888;
    font-style: italic;
}
.standard-article-item.event.event-date .standard-article-image {
    display: inline-block;
    float: left;
}
.standard-article-item.event.event-date .standard-article-date {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    width: 60px;
    padding: 16px 0;
}
.standard-article-item.event.event-date .standard-article-header,
.standard-article-item.event.event-date p {
    margin-left: 80px;
}
.standard-article-item.album .rating {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    margin-bottom: 10px;
}
.standard-article-item.album.album-xs .rating {
    margin-bottom: 5px;
}
.standard-article-item.album .standard-article-header {
    margin-bottom: 5px;
}
.standard-article-item.album.album-xs .standard-article-header {
    margin-bottom: 2px;
}
.standard-article-item.top-list-item .progress {
    margin-bottom: 5px;
}
.standard-article-item.smaller hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.standard-article-item.smaller .standard-article-header {
    margin-bottom: 0;
}
.standard-article-item.tile .standard-article-header {
    margin-top: 10px;
}
.standard-article-item.tile p {
    font-size: 12px;
    text-align: justify;
}
.standard-box .article-item-image {
    margin: -15px;
}
.article-toolbar {
    padding: 10px 0;
    border-top: 1px dashed #999;
    border-bottom: 1px dashed #999;
    margin-bottom: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.article-toolbar .list-inline {
    float: right;
    margin: 0;
}
.article-toolbar-info {
    line-height: 30px;
}
.article-toolbar-info .info-item {
    padding-right: 10px;
    border-right: 1px solid #999;
    margin-right: 10px;
}
.article-toolbar-info .info-item:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: 0 none;
}
.article-toolbar-info .info-item .glyphicon,
.article-toolbar-info .info-item .fa {
    margin-right: 2px;
}

/*text*/
.standard-text {
    font-size: 13px;
}
.standard-text .img-link {
    display: block;
    position: relative;
    margin: 20px auto;
}
.standard-text .img-link.pull-left {
    margin: 10px 20px 10px 0;
}
.standard-text .img-link.pull-right {
    margin: 10px 0 10px 20px;
}
.standard-text .img-link img {
    margin: 0;
}
.standard-text .img-link .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    padding: 10px;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.standard-text .img-link .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(0,0,0,0.5);
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
.standard-text .img-link .overlay .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
.standard-text .icon-circle {
    padding: 5px;
}
.standard-text .icon-circle .fa,
.standard-text .icon-circle .glyphicon {
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
}
.standard-text ul,
.standard-text ol {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.img-link:hover .overlay {
    background: rgba(0,0,0,0.75);;
}
.img-link:hover .overlay .fa {
    opacity: 1;
}
.img-link:hover .overlay .description-box {
    opacity: 1;
}
.img-thumbnail {
    background-color: rgba(0,0,0,0.7);
    border: 0 none;
    border-radius: 0;
}
.info-content {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.info-content .info-item {
    margin-bottom: 2px;
}
.info-content .info-item .glyphicon,
.info-content .info-item .fa {
    margin-right: 2px;
}

/*comments*/
.comments-list .comment {
    margin: 0 0 20px;
}
.comments-list .comment .comment-info {
    float: right;
    width: 30%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: right;
}
.comments-list .comment .comment-info img {
    float: right;
    margin: 0 0 0 10px;
}
.comments-list .comment .comment-info span {
    display: block;
}
.comments-list .comment .comment-info span {
    display: block;
    text-align: right;
}
.comments-list .comment .comment-content {
    border-bottom: 1px dashed #888;
    color: #999;
}
.comments-list .comment:last-child .comment-content {
    border-bottom: 0 none;
}

/*user box*/
.user-box p {
    margin-bottom: 0;
}
.user-box .subheading {
    margin-bottom: 10px;
}
.user-box .description {
    text-align: justify;
}
.user-box .heading {
    margin-top: 10px;
    margin-bottom: 2px;
}
.user-box .subheading {
    color: #888;
}
.user-box .avatar {
    position: relative;
}
.user-box .avatar .additional-info-box .fa {
    font-size: 24px;
}
.social-icons li a {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #FA5456;
    color: #eee;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.additional-info-box {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background: rgba(250, 84, 86, 0.65);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
.additional-info-box-content {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 46px;
    margin-top: -21px;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
:hover > .additional-info-box .additional-info-box-content {
    top: 50%;
}
.additional-info-box .fa {
    font-size: 28px;
}
.additional-info-box p {
    display: block;
}
:hover > .additional-info-box {
    opacity: 1;
}

/*pagination*/
.pagination>li>a,
.pagination>li>span {
    background: transparent;
    padding: 6px 10px;
    border: 0 none;
    margin: 0 1px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background: #FA5456
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background: transparent;
    border: 0 none;
    border-radius: 0;
    color: #aaa;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background: transparent;
    color: #EB9E68;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

/*progress bar*/
.progress {
    border-radius: 0;
}
.progress-bar {
    position: relative;
    padding-left: 15px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}
.progress-bar:after {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    width: 0;
    height: 100%;
    content: "";
    background: #e73639;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.progress-bar .text {
    position: relative;
    z-index: 3;
}
.progress-bar-danger {
    background-color: #FA5456;
}
.progress:hover .progress-bar:after {
    width: 100%;
}

/*tags*/
.tags-list {
    margin-bottom: -10px;
}
.tag {
    display: inline-block;
    position: relative;
    height: 20px;
    background: #181818;
    padding:  0 4px 0 6px;
    border-radius: 3px 0 0 3px;
    margin: 0 10px 10px 0;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.tag:hover,
.tag:focus {
    background-color: #FA5456;
    color: #fff;
}
.tag:hover:before,
.tag:focus:before {
    border-color: transparent transparent transparent #FA5456;
}
.tag .fa {
    margin-right: 5px;
}
.tag:before {
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #181818;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}

/*thumbnails*/
.thumbnail {
    position: relative;
    background: rgba(0,0,0,0.7);
    padding: 0;
    margin-bottom: 20px;
    border: 0 none;
    border-radius: 0;
    -webkit-transition: background 0.3s linear;
            transition: background 0.3s linear;
}
.low-opacity .thumbnail {
    background: rgba(0,0,0,0.85);
}
.thumbnail .standard-header {
    top: 10px;
    left: -5px;
}

/*tickets*/
.pricing .price {
    display: block;
    height: 100px;
    margin: 0;
    line-height: 100px;
    font-size: 62px;
    font-weight: 500;
    text-align: center;
}
.pricing .additional-info {
    display: block;
    position: relative;
    top: -20px;
    color: #999;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.pricing .main-description {
    padding: 0 15px 12px;
    margin: 0;
    font-size: 12px;
    text-align: center;
}
.pricing-image {
    position: relative;
    overflow: hidden;
    min-height: 160px;
    height: 160px;
    text-align: center;
}
.pricing-image:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
    margin-right: -0.25em; /* Adjusts for spacing */
 }
.pricing-title {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    color: #fff;
    text-align: center;
    -webkit-text-shadow: 0 1px 2px rgba(0,0,0,.6);
            text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.pricing-title .text {
    display: inline-block;
    position: relative;
    background: rgba(0,0,0,.75);
    padding: 5px 10px;
    font-size: 32px;
    line-height: 32px;
}
.pricing-title .text {
    margin-bottom: 2px;
}
.pricing-title .text:last-child {
    margin-bottom: 0;
}
.pricing-title .text-smaller {
    font-size: 16px;
    line-height: 16px;
}
.pricing .caption {
    padding: 0;
    color: #fff;
    text-align: center;
}
.pricing .description p {
    margin: 0 20px;
}
.pricing .list-unstyled li {
    padding: 10px 20px;
    border-bottom: 1px dashed #999;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
}
.pricing .list-unstyled li .fa,
.pricing .list-unstyled li .glyphicon {
    margin-right: 5px;
}
.pricing .label {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.pricing .btn {
    display: block;
    width: auto;
    margin: 20px;
}
.pricing .standard-article-date {
    left: auto;
    right: 4px;
}

/*badges*/
.badge {
    background: #fff;
    color: #000;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/*forms*/
.form-control {
    background: rgba(76,76,76,0.75);
    border: 1px solid rgba(96,96,96,1);;
    border-radius: 0;
    color: #eee;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.input-lg {
    height: 42px;
    padding: 8px 16px;
    font-size: 14px;
}
.form-control-feedback {
    line-height: 34px;
}
.form-control-feedback.form-control-feedback-lg {
    width: 42px;
    height: 42px;
    line-height: 42px;
}
textarea.form-control {
    min-height: 100px;
}
label,
.control-label {
    font-weight: 300;
    font-size: 16px;
}
.form-horizontal .form-group:last-child {
    margin-bottom: 0;
}
.form-control:focus {
    border-color: #FA5456;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(250,84,86,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(250,84,86,.6);
}
.form-register-header {
    margin-bottom: 40px;
}
.form-register-header .list-inline {
    margin: 40px 0;
}
.form-register {
    margin-bottom: 20px;
}
.input-group-addon {
    background: #FA5456;
    border: 0 none;
    border-radius: 0;
}

/*address box*/
.address-box .heading,
.address-box .logo {
    margin: 0 0 20px;
}
.address-box p {
    margin-bottom: 5px;
}
.address-box p .glyphicon,
.address-box p .fa {
    margin-right: 5px;
}

/*location box*/
.location-box .glyphicon,
.location-box .fa {
    float: left;
    font-size: 44px;
}
.location-box p {
    margin-left: 54px;
}

/*map*/
#map-canvas {
    height: 200px;
    border: 2px solid rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

/*modal*/
.modal-header {
    border-color: #FA5456;
    border-width: 2px;
    text-transform:uppercase;
    color:#fff;
}
.modal-header .modal-title {
    font-size: 23px;
}
.modal-body {
    overflow: auto;
}
.modal-content {
    background-color: #080808;
    border-color: rgba(255,255,255,.1);
    border-radius: 0;
    border-width: 2px;
}
.modal-footer {
    border-color: #FA5456;
    border-width:2px;
}
.modal-static {
    position:relative
}
.modal-static:before,.modal-static:after {
    display: table;
    content: " ";
}
.modal-static:after {
    clear: both;
}
.modal-static:before,.modal-static:after {
    display: table;
    content: " ";
}
.modal-static:after {
    clear: both;
}
.modal-static .modal {
    display: block!important;
    position: relative!important;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto
    z-index: 1!important;
    opacity: 1;
    overflow: hidden!important;
}
.modal-static .modal:before,.modal-static .modal:after {
    display: table;
    content: " ";
}
.modal-static .modal:after {
    clear: both;
}
.modal-static .modal:before,.modal-static .modal:after {
    display: table;
    content: " ";
}
.modal-static .modal:after {
    clear: both;
}
.modal-header .close {
    color: #FFF;
}

/*code*/
code {
    background-color: #222;
    color: #fff;

}
pre {
    background-color: #222;
    border: 1px solid #333;
    color: #fff;
}

/*slider*/
.carousel {
    margin: -15px;
}
.carousel-control {
    display: inline-block;
    position: absolute;
    top: 50%;
    opacity: 1;
    z-index: 10;
    width: auto;
    height: 42px;
    background-color: #FA5456;
    background-image: none !important;
    padding: 12px;
    margin-top: -21px;
    color: #eee;
    font-size: 18px;
    line-height: 18px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
            box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon,
.carousel-control .fa {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    -webkit-text-shadow: none;
            text-shadow: none;
}
.carousel-control:hover,
.carousel-control:focus {
    opacity: 1;
    background-color: #e73639;
}
.carousel-control.left {
    left: -10px;
}
.carousel-control.left:after {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0;
    height: 0;
    content: '';
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid #111;
}
.carousel-control.right {
    right: -10px;
}
.carousel-control.right:after {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 0;
    height: 0;
    content: '';
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid #111;
}
.carousel-caption {
    top: 50%;
    bottom: auto;
    left: 10%;
    right: 10%;
    height: 202px;
    padding: 0;
    margin-top: -101px;

}
.carousel-caption .carousel-heading {
    margin: 10px 0;
    font-size: 48px;
    -webkit-text-shadow: 1px 2px 0 #000;
            text-shadow: 1px 2px 0 #000;
}
.carousel-caption .carousel-heading .text {
    display: inline-block;
}
.carousel-caption p {
    margin-bottom: 0;
    font-size: 18px;
    -webkit-text-shadow: 1px 2px 0 #000;
            text-shadow: 1px 2px 0 #000;
}
.main-icon {
    font-size: 44px;
    line-height: 54px;
    text-align: center;
}
.carousel-indicators {
    top: 10px;
    bottom: auto;
    left: auto;
    right: 10px;
    width: 100%;
    margin-left: 0;
    text-align: right;
}
.carousel-indicators li {
    width: 18px;
    height: 18px;
    border-width: 2px;
    border-radius: 0;
    margin: 0 0 0 5px;
}
.carousel-indicators li.active {
    width: 18px;
    height: 18px;
    background-color: #FA5456;
    margin: 0 0 0 5px;
}

/*timeline*/
.timeline {
    position: relative;
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.timeline::before {
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    content: '';
    background: rgba(255,255,255,0.75);
}
.timeline-block {
    position: relative;
    margin: 20px 0;
}
.timeline-block:after {
    display: table;
    clear: both;
    content: "";
}
.timeline-block:first-child {
    margin-top: 0;
}
.timeline-block:last-child {
    margin-bottom: 0;
}
.timeline-img {
    position: absolute;
    top: 4px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: 0 0 0 4px #eee, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 0 4px #eee, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.timeline-img .fa,
.timeline-img .glyphicon {
    display: inline-block;
    position: relative;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    -webkit-text-shadow: 0 2px 0 rgba(0,0,0,0.5);
            text-shadow: 0 2px 0 rgba(0,0,0,0.5);
}
.timeline-img.picture {
    background: #75ce66;
}
.timeline-img.movie {
    background: #c03b44;
}
.timeline-img.location {
    background: #f0ca45;
}
.timeline-content {
    position: relative;
    background: rgba(0,0,0,0.75);
    padding: 1em;
    border-radius: 0.25em;
    margin-left: 60px;
}
.timeline-content:after {
    display: table;
    clear: both;
    content: "";
}
.timeline-content .timeline-header {
    margin: 0 0 10px;
    color: #aaa;
    font-size: 20px;
    line-height: 20px;
}
.timeline-content .img-responsive {
    margin: 6px 0;
}
.timeline-content p {
    margin: 0;
    line-height: 1.6;
}
.timeline-content .date {
    display: block;
    padding: 0;
    margin-bottom: 5px;
    font-size: 14px;
}
.timeline-content::before {
    position: absolute;
    top: 17px;
    right: 100%;
    height: 0;
    width: 0;
    content: '';
    border: 7px solid transparent;
    border-right: 7px solid rgba(0,0,0,0.75);
}

/*error page*/
.error-page {
    background:url('../Content/img/slider-photos/slogan-background.jpg') no-repeat top center;
    background-size: cover;
    text-align: center;
}
.error-box .logo {
    display: block;
    font-size: 42px;
    line-height: 1;
}
.error-box .logo .loader {
    margin-bottom: 10px;
}
.baloon {
    display: inline-block;
    position: relative;
    clear: both;
    background: rgba(0,0,0,0.75);
    padding: 20px;
}
.baloon::after {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 30px 20px 0 20px;
    border-color: rgba(0,0,0,0.75) transparent transparent transparent;
    margin-left: -20px;
}
.error-box .baloon {
    margin: 40px 20px;
}

/*gallery*/
.gallery-item .standard-extend-item {
    position: relative;
    margin-bottom: 20px;
}
.gallery-item .standard-extend-item > a {
    display: block;
    position: relative;
}
.gallery-item .standard-extend-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(0,0,0,0.5);
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
.gallery-item .standard-extend-item .overlay .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 28px;
    height: 28px;
    color: #fff;
    margin: -14px 0 0 -14px;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
.gallery-item:hover .standard-extend-item .description-box {
    background: transparent;
}
.gallery-item .standard-extend-item .description-box .rating {
    margin-top: 5px;
}
.gallery-item .standard-extend-item .description-box .rating .star {
    font-size: 14px;
}
.gallery-item .standard-extend-item .description-box .title {
    margin: 5px 0 0;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    -webkit-text-shadow: 0 2px 1px rgba(0,0,0,0.75);
            text-shadow: 0 2px 1px rgba(0,0,0,0.75);
}
.gallery-item .standard-extend-item .description-box .title a {
    color: #fff;
}
.gallery-item .standard-extend-item .description-box .description {
    display: block;
    margin-top: 2px;
    color: #ccc;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    -webkit-text-shadow: 0 2px 1px rgba(0,0,0,0.75);
            text-shadow: 0 2px 1px rgba(0,0,0,0.75);
}
.gallery-item .standard-extend-item > a:hover .overlay {
    background: rgba(0,0,0,0.75);;
}
.gallery-item .standard-extend-item > a:hover .overlay .fa {
    opacity: 1;
}
.gallery-item .standard-extend-item > a:hover .overlay .description-box {
    opacity: 1;
}

/*lightbox*/
.lightboxOverlay {
    background-color: #262626;
    opacity: 0.8;
    filter:alpha(opacity=80)
}
.lb-outerContainer {
    background-color: #000;
    border-radius: 0;
}
.lb-container {
    padding: 5px;
}
.lightbox .lb-image {
    border-radius: 0;
}
.lb-data .lb-caption {
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.lb-data .lb-number {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.touch .lb-nav a.lb-next,.touch .lb-nav a.lb-prev {
    opacity: 1;
    filter:alpha(opacity=100)
}

/*panel*/
.panel {
    border: 0 none;
    background: rgba(0,0,0,0.5);
}
.panel-heading {
    border-radius: 0;
    background: rgba(0,0,0,0.5);
    position: relative;
}
.panel-heading .panel-title > a:hover,
.panel-heading .panel-title > a:focus {
    color: #fff;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0 none;
}
.panel-danger>.panel-heading {
    background: #FA5456;
    border-color: #FA5456;
    color: #fff;
}
.panel-danger {
    background: rgba(0,0,0,0.75);
}
.panel-body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.panel-title > a {
    display: block;
}

/*buttons*/
.btn {
    display: inline-block;
    position: relative;
    padding: 0 14px;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-family: 'bebas_neueregular';
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
}
.btn:hover,
.btn:focus,
.btn.active {
    color: #fff;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: .5;
}
.btn .fa {
    position: relative;
    top: -2px;
    font-size: 10px;
    line-height: 1;
}
.btn.btn-lg {
    padding: 0 18px;
    border-radius: 0;
    font-size: 18px;
    line-height: 42px;
}
.btn.btn-sm {
    font-size: 13px;
    line-height: 26px;
}
.btn.btn-xs {
    font-size: 12px;
    line-height: 22px;
}
.btn.btn-lg .fa {
    font-size: 16px;
}
.btn-default {
    color: #000;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #000;
}
.btn-danger {
    background: #FA5456;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background: #e73639;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background: #e73639;
}
.btn-success {
    background: #B0D794;
    color: #000;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background: #93d564;
    color: #000;
}
.btn-warning {
    background: #FBDE8A;
    color: #000;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background: #f9ce51;
    color: #000;
}
.btn-primary {
    background: #4C6472;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background: #355b71;
}
.btn-info {
    background: #636280;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background: #54527f;
}
.btn-group {
    margin: 1px;
}
.btn-group .btn {
    border: 0 none;
    margin-left: 1px;
}
.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: 2px;
}
.btn-group.open .dropdown-toggle {
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
    height: 100%;
}
.btn.bg-yellow,
.btn.bg-green,
.btn.bg-orange,
.btn.bg-white {
    color: #000;
}
.btn.bg-yellow:hover,
.btn.bg-yellow:focus,
.btn.bg-yellow.active,
.btn.bg-green:hover,
.btn.bg-green:focus,
.btn.bg-green.active,
.btn.bg-orange:hover,
.btn.bg-orange:focus,
.btn.bg-orange.active,
.btn.bg-white:hover,
.btn.bg-white:focus,
.btn.bg-white.active, {
    color: #000;
}
.btn.bg-red:after {
    background: #e73639;
}
.btn.bg-yellow:after {
    background: #f9ce51;
}
.btn.bg-green:after {
    background: #93d564;
}
.btn.bg-orange:after {
    background: #e98a48;
}
.btn.bg-violet:after {
    background: #54527f;
}
.btn.bg-blue:after {
    background: #355b71;
}
.btn.bg-white:after {
    background: #e6e6e6;
}
.standard-header .btn-group {
    position: relative;
    float: right;
    right: -35px;
}
.icon-circle {
    display: inline-block;
    background: #fff;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
}
.icon-circle .fa,
.icon-circle .glyphicon {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    color: #080808;
    font-size: 18px;
}
/*alerts*/
.alert {
    border-radius: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.alert-success {
    background-color: #B0D794;
    border-color: #93d564;
}
.alert-info {
    background-color: #636280;
    border-color: #54527f;
    color: #e0dfff;
}
.alert-warning {
    background-color: #FBDE8A;
    border-color: #f9ce51;
}
.alert-danger {
    background: #FA5456;
    border-color: #e73639;
    color: #fde3e4;
}
.close {
    opacity: .5;
}
.close:focus,
.close:hover {
    opacity: .75;
}

.alert-dismissable .close,
.alert-dismissible .close {
    color: #000;
}

/*typography*/
p {
    margin-bottom: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.lead {
    font-size: 14px;
    font-weight: 600;
}
hr {
    border-top: 1px dashed #999;
}
.no-border {
    border: 0 none !important;
}
.no-margin {
    margin: 0 !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-40 {
    margin-top: 40px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
h1, .h1 {
    font-size: 24px;
    letter-spacing: 1px;
}
h2, .h2 {
    font-size: 22px;
    letter-spacing: 1px;
}
h3, .h3 {
    font-size: 20px;
    letter-spacing: 1px;
}
.text-heading {
    margin: 0 0 20px;
}
.img-responsive {
    max-width: none;
    width: 100%;
}
.special-header {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 28px;
}
.box-header {
    margin: 0 0 20px;
}
blockquote {
    background: rgba(0,0,0,0.25)
    border-color: #FA5456;
    border-width: 6px;
}
blockquote p {
    margin-bottom: 10px;
}
blockquote .small,
blockquote footer,
blockquote small {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/*lists*/
ul.list {
    padding: 0;
    margin-bottom: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    list-style-type: none;
}
ul.list li {
    position: relative;
    padding-left: 22px;
    margin-bottom: 5px;
}
ul.list li a {
    color: #fff;
}
ul.list li:hover a {
    color: #FA5456;
}
ul.list li:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "\f054";
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 20px;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
ul.list li h3 {
    margin: 0;
}
ul.list li ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.list li ul li:first-child {
    margin-top: 5px;
}
ul.list.with-links li:after {
    color: #fff;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
ul.list.with-links li:hover:after {
    color: #FA5456;
}
ul.list.list-headers li {
    margin-bottom: 10px;
}
ul.list.list-menu {
    padding: 0;
    margin: 0 0 -10px;
    list-style-type: none;
}
ul.list.list-menu li {
    margin-bottom: 10px;
    font-family: 'bebas_neueregular';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
}
ol.list {
    padding: 0;
    counter-reset: li-counter;
    list-style-type: none;
}
ol.list > li {
    position: relative;
    margin-left: 22px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
ol.list > li:before {
    position: absolute;
    top: -3px;
    left: -18px;
    font-size: 18px;
    font-family: 'bebas_neueregular';
    content: counter(li-counter);
    counter-increment: li-counter;
}
ol.list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ol.list ul li {
    position: relative;
    padding-left: 22px;
    margin-bottom: 5px;
}
ol.list ul li:first-child {
    margin-top: 5px;
}
ol.list ul li:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "\f054";
    color: #dacea9;
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 20px;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
ol.list ol li:first-child {
    margin-top: 5px;
}
ul.admin-panel {
    padding: 0;
    margin: 0;
    font-family: 'bebas_neueregular';
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1;
    list-style-type: none;
    text-transform: uppercase;
}
ul.admin-panel li {
    position: relative;
    margin-bottom: 10px;
}
ul.admin-panel li .glyphicon,
ul.admin-panel li .fa {
    margin-right: 5px;
}
ul.admin-panel li a {
    color: #fff;
}
ul.admin-panel li:hover a {
    color: #FA5456;
}

/*tables*/
.table {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}
.table-hover>tbody>tr:hover {
    background-color: transparent;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(0,0,0,0.25);
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: rgba(0,0,0,0.5);
}

/*links*/
a,
button {
    color: #EB9E68;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
}
a:hover,
a:focus {
    color: #FA5456;
    text-decoration: none;
}
.standard-hover-effect:after {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 0;
    content: "";
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.standard-hover-effect .text {
    display: block;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

/*grid changes*/
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}

/*color and backgrounds*/
.bg-blue {
    background: #4C6472 !important;
}
.bg-pink {
    background: #C66485 !important;
}
.bg-green {
    background: #B0D794 !important;
}
.bg-green-2 {
    background: #A8DBA8 !important;
}
.bg-orange {
    background: #EB9E68 !important;
}
.bg-yellow {
    background: #FBDE8A !important;
}
.bg-red {
    background: #FA5456 !important;
}
.bg-red-2 {
    background: #E67C74 !important;
}
.bg-violet {
    background: #636280 !important;
}
.bg-violet-2 {
    background: #8C6091 !important;
}
.bg-white {
    background: #FFF !important;
}
.color-blue {
    color: #4C6472 !important;
}
.color-pink {
    color: #C66485 !important;
}
.color-green {
    color: #B0D794 !important;
}
.color-green-2 {
    color: #A8DBA8 !important;
}
.color-orange {
    color: #EB9E68 !important;
}
.color-yellow {
    color: #FBDE8A !important;
}
.color-red {
    color: #FA5456 !important;
}
.color-red-2 {
    color: #E67C74 !important;
}
.color-violet {
    color: #636280 !important;
}
.color-violet-2 {
    color: #9F6CA5 !important;
}
.color-white {
    color: #FFF !important;
}

/*responsive*/
@media (min-width: 768px) {
    .margin-bottom-20-sm {
        margin-bottom: 20px !important;
    }
    .margin-top-20-sm {
        margin-top: 20px !important;
    }
}
@media (min-width: 992px) {
    .timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .timeline-block {
        margin: 20px 0;
    }
    .timeline-block:first-child {
        margin-top: 0;
    }
    .timeline-block:last-child {
        margin-bottom: 0;
    }
    .timeline-img {
        left: 50%;
        width: 40px;
        height: 40px;
        margin-left: -20px;
    }
    .timeline-content {
        width: 45%;
        padding: 20px;
        margin-left: 0;
    }
    .timeline-content::before {
        top: 18px;
        left: 100%;
        border-color: transparent;
        border-left-color: rgba(0,0,0,0.75);
    }
    .timeline-content .date {
        position: absolute;
        left: 122%;
        top: 14px;
        width: 100%;
        margin: 0;
        font-size: 20px;
        line-height: 20px;
    }
    .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content::before {
        top: 18px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: rgba(0,0,0,0.75);
    }
    .timeline-block:nth-child(even) .timeline-content .date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #main-menu > .navbar-nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .timeline-content {
        width: 43%;
    }
    .timeline-content .date {
        left: 130%;
    }
    .timeline-block:nth-child(even) .timeline-content .date {
        right: 130%;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .carousel-caption {
        height: 180px;
        margin-top: -90px;
    }
}
@media (min-width: 1200px) {
    .hex-shape {
        display: inline-block;
        width: 80px;
        height: 80px;
        background: url("../Content/img/hex_shape.png") no-repeat top center;
        background-size: contain;
        line-height: 80px;
        text-align: center;
    }
}
@media (min-width: 1366px) {
    .container {
        width: 1280px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        margin-top: 20px;
    }
    .navbar .navbar-brand a {
        top: -12px;
    }
    .navbar .slogan {
        top: 16px;
        color: #aaa;
    }
    .navbar .social-links {
        top: 8px;
        right: 8px;
    }
    #main-menu > .navbar-nav {
        border-top: 1px solid #111;
        margin-top: 54px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
                box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }
    #main-menu > .navbar-nav {
        float: none;
        clear: both;
    }
    #main-menu > .navbar-nav > li {
        width: 10%;
        margin: 0;
    }
    #main-menu > .navbar-nav > li > a {
        padding-left: 0;
        padding-right: 0;
        margin-left: 2px;
        text-align: center;
    }
    #main-menu > .navbar-nav > li:first-child > a {
        margin-left: 0;
    }
    .main-icon {
        margin-top: 5px;
    }
    .carousel-caption .carousel-heading {
        font-size: 36px;
    }
    .carousel-caption p {
        font-size: 14px;
    }
}
@media (max-width: 1300px) {
    .side-menu-tab {
        display: none;
    }
}
@media (max-width: 767px) {
    .container {
        overflow: hidden;
        padding: 0;
    }
    .header-top {
        background-color: #1a1a1a;
    }
    .navbar {
        margin: 0;
        padding: 0;
    }
    .navbar-inverse {
        background: #1a1a1a;
    }
    .navbar-header {
        background: #111;
        padding: 2px;
    }
    .navbar .navbar-brand a {
        top: 0;
        left: 0;
        height: 54px;
        background: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-brand a:after {
        display: none;
    }
    .navbar .social-links {
        top: 2px;
        right: 46px;
        left: auto;
    }
    .navbar .social-links li {
        padding-left: 2px;
    }
    .navbar .social-links li a {
        width: 30px;
        height: 54px;
        font-size: 16px;
        line-height: 54px;
    }
    .navbar-collapse {
        max-height: none;
        border: 0 none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    #main-menu > .navbar-nav {
        float: none;
        margin: 0;
        border-top: 1px solid #111;
    }
    #main-menu > .navbar-nav > li {
        border-top: 1px solid #111;
    }
    #main-menu > .navbar-nav > li:first-child {
        border-top: 0 none;
    }
    #main-menu .equalizer-bar {
        display: none;
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 20px 10px 40px;
        border-top: 1px solid #111;
        border-bottom: 0 none;
        font-size: 18px;
        text-align: left;
    }
    #main-menu .navbar-nav .open .dropdown-menu>.active>a,
    #main-menu .navbar-nav .open .dropdown-menu>.active>a:hover,
    #main-menu .navbar-nav .open .dropdown-menu>.active>a:focus {
        background: transparent;
    }
    .footer {
        margin-top: 0;
    }
    .scroll-up,
    .low-opacity .scroll-up {
        top: 0;
        right: 20px;
        z-index: 3;
        background: transparent;
        border-left: 2px dashed rgba(255,255,255,0.25);
        border-right: 2px dashed rgba(255,255,255,0.25);
        border-bottom: 2px dashed rgba(255,255,255,0.25);
    }
    .standard-box {
        background: rgba(0,0,0,0.8);
        border-bottom: 2px dashed rgba(255,255,255,0.25);
        margin-bottom: 0;
    }
    .standard-header {
        top: 0;
        left: 0;
        margin: 0 0 20px;
    }
    .standard-header .text {
        background: none;
        padding: 0 2px 6px;
        border-bottom: 2px solid #FA5456;
        color: #fff;
        font-size: 20px;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .standard-header .text-yellow {
        border-color: #FBDE8A;
    }
    .standard-header .text-green {
        border-color: #B0D794;
    }
    .standard-header .text-orange {
        border-color: #EB9E68;
    }
    .standard-header:after {
        display: none;
    }
    .thumbnail {
        margin-bottom: 0;
        border-bottom: 2px dashed rgba(255,255,255,0.25);
    }
    .thumbnail .standard-header {
        top: 0;
        left: 0;
        padding-top: 20px;
        margin: 0 20px;
    }
    .pricing-head-body {
        margin: 0 20px 20px;
    }
    .pricing .standard-article-date {
        top: 15px;
        right: 15px;
    }
    .standard-article-image {
        margin-bottom: 20px;
    }
    .standard-article-item.event .standard-article-image,
    .standard-article-item.album .standard-article-image {
        margin-bottom: 0;
    }
    .standard-article-item.news .btn {
        display: block;
    }
    .user-box {
        margin-bottom: 20px;
    }
    .pagination {
        margin-bottom: 0;
    }
    .margin-bottom-0-xs {
        margin-bottom: 0 !important;
    }
    .margin-bottom-20-xs {
        margin-bottom: 20px !important;
    }
    .carousel {
        margin: -20px;
    }
    .main-icon {
        margin-top: 0;
        font-size: 30px;
        line-height: 35px;
    }
    .carousel-caption {
        height: 120px;
        top: 50%;
        margin-top: -60px;
    }
    .carousel-caption .carousel-heading {
        margin: 5px 0;
        font-size: 36px;
    }
    .carousel-caption p {
        height: 18px;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .carousel-control {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .carousel-control.right {
        right: 0;
    }
    .carousel-control.right:after {
        display: none;
    }
    .carousel-control.left {
        left: 0;
    }
    .carousel-control.left:after {
        display: none;
    }
    .timeline-content {
        background: #1a1a1a;
    }
    .timeline-content::before {
        border-right: 7px solid #1a1a1a;
    }
    .form-register-header {
        margin: 0;
    }
    .form-register {
        margin: 0;
    }
    .standard-header .btn-group {
        right: 0;
    }
    .standard-header .btn-group {
        margin: 0;
    }
    .standard-header .btn-group .btn {
        padding: 2px 8px;
        font-size: 14px;
        line-height: 22px;
    }
    .standard-article-item.event .btn-group-options {
        margin-top: 20px;
    }
    .standard-box .article-item-image {
        margin: 0 0 -20px;
    }
    .btn-add-review {
        margin-bottom: 20px;
    }
    .article-toolbar {
    }
    .article-toolbar .list-inline {
        float: none;
        padding-top: 10px;
        border-top: 1px dashed #888;
        margin: 10px 0 0;
    }
    .tooltip-static {
        text-align: center;
    }
    .tooltip-static .btn.btn-block {
        display: inline-block;
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
        margin-bottom: 10px;
    }
}
@media (max-width: 479px) {
    .hidden-xxs {
        display: none !important;
    }
    .carousel-caption {
        top: 50%;
        left: 15%;
        right: 15%;
        height: 50px;
        margin-top: -25px;
    }
    .main-icon {
        display: none;
    }
    .carousel-caption .carousel-heading {
        margin: 5px 0;
        font-size: 18px;
    }
    .carousel-caption p {
        font-size: 12px;
    }
    .carousel-indicators {
        top: 3px;
        right: 5px;
    }
    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 12px;
        height: 12px;
    }
    .carousel-control {
        height: 36px;
        padding: 8px;
        margin-top: -18px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next,
    .carousel-control .glyphicon,
    .carousel-control .fa {
        font-size: 18px;
        line-height: 20px;
    }
    .error-box .baloon {
        margin: 20px 20px 30px;
    }
}